<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="3.0">
    <servlet>
        <servlet-name>VolumeCalculatorServlet</servlet-name>
        <servlet-class>webapp.servlet.VolumeCalculatorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VolumeCalculatorServlet</servlet-name>
        <url-pattern>/calculateVolume</url-pattern>
    </servlet-mapping>

    <!-- О нас -->
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>webapp.servlet.AboutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>

    <!-- Контакты -->
    <servlet>
        <servlet-name>ContactsServlet</servlet-name>
        <servlet-class>webapp.servlet.ContactsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactsServlet</servlet-name>
        <url-pattern>/contacts</url-pattern>
    </servlet-mapping>

    <!-- Обратная связь -->
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>webapp.servlet.FeedbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>

</web-app>
